/* Add your CSS here! */

body {
  font-family: Roboto Slab;
  margin: 0;
  padding: 0;
}

#app-container {
  width: 100%;
  height: 100%;
}

#page-content-container {
  margin-top: 70px;
  width: 100%;
  height:100%;
}

#navbar-container {
  font-size: 20px;
  width: 100%;
  height: 70px;
  margin-top: 20px;
}

#info-window-container {
  background-color: #FFF;
  font-size: 28px;
  position: fixed;
  left: 550px;
  top: 50px;
  z-index: 100;
}
